
@{
    Layout = null;
}

@using WNMS.Model.CustomizedClass;
@using WNMS.Model.DataModels;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>表单</title>
    <!--设置是否为缩放模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/newself/css/bootstrap-reset.css" rel="stylesheet" />*@
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="~/js/bootstrap.min.js"></script>
    <!--layui样式框架-->
    <link href="~/DataV/css/layui.css" rel="stylesheet" />
    <script src="~/DataV/js/layui.all.js"></script>
    <link href="~/DataV/layer/theme/default/layer.css" rel="stylesheet" />
    <script src="~/DataV/layer/layer.js"></script>
    <!--icon图表库-->
    <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--可编辑样式/JS-->
    <link href="~/css/gdstyle.css" rel="stylesheet" />
    <script src="~/js/patrol.js"></script>
    <link href="~/css/patrol.css" rel="stylesheet" />
    <link href="~/lib/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
    <script src="~/lib/My97DatePicker/WdatePicker.js"></script>
    <style>
        .thumbnail {
            display: block;
            padding: 4px;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 1.42857143;
            background-color: transparent;
            border: 0px;
            border-radius: 4px;
            -webkit-transition: border .2s ease-in-out;
            -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
        }

        .txt-left {
            text-align: left;
            text-indent: 1em;
        }

        .red {
            color: #f00;
        }

        .mt20px {
            margin-top: 20px;
        }

        .right {
            float: right;
        }

        .btn-bg {
            background: #027ED0;
        }

        .blue {
            color: #0055AA !important;
        }

        .bg-none:hover {
            color: #027ED0
        }

        .bg-none {
            background: none;
            color: #027ED0;
        }

        .right {
            float: right;
        }

        .none {
            display: none;
        }

        .titlebar {
            height: 40px;
            line-height: 40px;
        }

            .titlebar button {
                width: 70px;
                margin-top: 8px;
                float: left;
            }

        .btn-gray {
            background: #9B9B99;
            color: #fff;
        }

        .td-blues {
            color: #2079A3;
            font-weight: bold;
        }

        .btn-no {
            background: #CF524C;
            width: 35px;
        }

        .items {
            margin-top: 15px;
            background-color: #D8EAF6;
            text-align: left;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px #D3E0E6 solid
        }

            .items h5 {
                font-size: 14px;
                font-weight: bold;
                color: #666;
            }

            .items p {
                color: #999;
                font-size: 12px;
                line-height: 30px;
            }
    </style>

</head>

<body>
    <div class="potrolSjxq">
        <div class="potrolSjxq_box">
            @{
                SEvents e = ViewBag.Events as SEvents;
                List<GdResource> img = ViewBag.Img as List<GdResource>;
                var name = "" + e.IncidentNum + "-事件详情";
                <div class="potrolSjxq_head" style="margin-bottom:20px;">
                    <i class="fa fa-file-text"></i><label>@name</label>
                    <span class="potrolSjxq_head_btn">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus"></i>
                    </span>
                </div>
                <div class="potrolSjxq_table">
                    <table class="layui-table" lay-even="" lay-size="">
                        <tr>
                            <td class="layui-col-xs2"><label>事件编号</label></td>
                            <td class="layui-col-xs3" colspan="2">@e.IncidentNum</td>
                            <td class="layui-col-xs2"><label>泵房</label></td>
                            <td class="layui-col-xs3" colspan="3">@e.StationName</td>
                            <td class="layui-col-xs2"><button class="layui-btn layui-btn-sm" id="position">定位</button></td>
                        </tr>
                        <tr>
                            <td><label>上报时间</label></td>
                            <td colspan="2">@e.ReportTime</td>
                            <td class="layui-col-xs2"><label>上报人</label></td>
                            <td>@e.Account</td>
                            @*<td colspan="2"><label>所属部门</label></td>
                            <td></td>*@
                        </tr>
                        <tr>
                            <td><label>事件类型</label></td>
                            <td colspan="2">@(System.Enum.GetName(typeof(IncidentType), e.IncidentType))</td>
                            <td><label>事件内容</label></td>
                            <td>@e.IncidentContent</td>
                            <td colspan="2"><label>事件来源</label></td>
                            <td>@(System.Enum.GetName(typeof(IncidentSource), e.IncidentSource))</td>
                        </tr>
                        <tr>
                            <td><label>紧急程度<b class="red"> *</b></label></td>
                            <td colspan="2">
                                <select id="degree">
                                    @{
                                        var em = System.Enum.GetValues(typeof(EmergencyDegree));
                                        foreach (var item in em)
                                        {
                                            <option value="@((int)item)">@item</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td><label>处理级别<span>*</span></label></td>
                            <td>
                                <select id="level">
                                    @{
                                        var pr = System.Enum.GetValues(typeof(ProcessingLevel));
                                        foreach (var item in pr)
                                        {
                                            <option value="@((int)item)">@item</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td colspan="2"><label>派单员</label></td>
                            @{
                                var user = ViewBag.User as SysUser;
                                <td>@user.Account</td>
                            }
                        </tr>
                        <tr>
                            <td><label>现场照片</label></td>
                            @if (img != null && img.Count > 0)
                            {
                                <td colspan="2"><button type="button" id="btn_img" class="btn btn-success btn-xs">查看</button></td>
                            }
                            else
                            {
                                <td colspan="2">暂无图片</td>
                            }
                            <td><label>现场录音</label></td>
                            @if (ViewBag.Record > 0)
                            {
                                <td><button type="button" id="btn_record" class="btn btn-success btn-xs" onclick="ShowAudio(@e.IncidentID)">查看</button></td>
                            }
                            else
                            {
                                <td>无录音</td>
                            }
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td><label>缩略图预览</label></td>
                            @if (img != null && img.Count > 0)
                            {

                                <td colspan="10">
                                    @foreach (var item in img)
                                    {
                                        <div class="col-sm-6 col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="@item.Path" style="width:100%;height:60px" />
                                            </a>
                                        </div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td colspan="10">该事件未上传现场图片</td>
                            }

                        </tr>
                        <tr>
                            <td><label>事件描述</label></td>
                            <td colspan="10">@e.Description</td>
                        </tr>

                    </table>

                    <div class="right mt20px">
                        <button class="layui-btn layui-btn-sm" style="background:#0061C8;" id="btn_Back">返回</button>
                        <button class="layui-btn layui-btn-sm" style="background:#42A2D4;" id="btn_Treate">分派</button>
                        <button class="layui-btn layui-btn-sm" style="background:#DF5944;" id="btn_invalid">无效</button>
                    </div>
                    <!-- clear float -->
                    <div style="clear: both;"></div>
                </div>
            }
        </div>
        <div class="potrolSjxq_box">
            <div class="potrolSjxq_head" style="margin-bottom:20px;">
                <i class="fa fa-file-text"></i><label>分派详情</label>
                <span class="potrolSjxq_head_btn">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus"></i>
                </span>
            </div>
            <div class="potrolSjxq_table">
                @{
                    List<dynamic> wo = ViewBag.WorkOrder as List<dynamic>;
                    if (wo.Count() > 0)
                    {
                        int i = 1;
                        <table class="layui-table" lay-even="" lay-size="" id="woTable">
                            <tbody>
                                <tr class="td-blues">
                                    <td>序号</td>
                                    <td class="layui-col-xs1">工单编号</td>
                                    <td class="layui-col-xs1">处理状态</td>
                                    <td class="layui-col-xs1">维修人员</td>
                                    <td class="layui-col-xs2">到场时间</td>
                                    <td class="layui-col-xs2">维修时间</td>
                                    <td class="layui-col-xs2">完工时间</td>
                                    <td class="layui-col-xs1">操作</td>
                                </tr>


                                @foreach (var item in wo)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Num</td>
                                        <td>@(System.Enum.GetName(typeof(WoState), item.CurrentState))</td>
                                        <td>@item.Account</td>
                                        <td>@item.ComeTime</td>
                                        <td>@item.TreateTime</td>
                                        <td>@item.CompleteTime</td>
                                        <td><button class="layui-btn layui-btn-xs" id="Workorder" onclick="workorderAudit(@item.WOID)">查看详情</button></td>
                                    </tr>
                                    i++;
                                }

                        </table>
                    }
                    else
                    {
                        <div class="items">
                            <h5>未查询到相关数据！</h5>
                            <p>该工单维修负责人未发起延期</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <script>
        var index = parent.layer.getFrameIndex(window.name);
        var IncID = @ViewBag.IncidentID
        $(function () {
            $('.potrolSjxq_head_btn').click(function () {
                $(this).parent().siblings('.potrolSjxq_table').toggle();
                $(this).children().toggle();
            })
        });

        $("#btn_img").click(function () {
            iframes('事件图片', "600px", "340px", "/Wos/Events/EventsImg/" + IncID);
        });

        $("#btn_Treate").click(function () {
            iframe('任务分派', "800px", "600px", "/Wos/Events/TaskTreat/?id=" + IncID + "&degree=" + $("#degree").val()+"&level="+$("#level").val())
            });

        //定位
        $("#position").click(function () {
            iframes(['事件定位'], "80%", "80%", "/Wos/WorkHandle/Positioning/" + IncID);
            });

        //工单详情
        //$("#woTable").on("click", ".layui-btn", function () {
        //    var aa = $(this).parent().parent();
        //    var value = $(this).parent().parent().find("td").eq(1).text();
        //    var id = value.replace("GD", "");
        //    //iframes('工单详情', "1000px", "600px", "/GD_EventAudit/WorkOrderDetail/" + id + "&type= 1" + "&ResourceType= 1")
        //    iframes('工单详情', "80%", "80%", "/Wos/EventsAudit/WorkOrderDetail/" + id)
        //});
        function workorderAudit(id) {
            iframe('工单详情', "1000px", "600px", "/Wos/EventsAudit/WorkOrderDetail/" + id);
        }


        //音频展示
        function ShowAudio(id) {
            iframes(['音频列表'], "354px", "450px", "/Wos/Events/ShowAudio/" + id);
            }

        //返回
        $("#btn_Back").click(function () {
            parent.layer.close(index);
            });

        //无效
        $("#btn_invalid").click(function () {
            layer.confirm("确定设置事件为无效？", {
                btn: ['确定', '取消'], icon: 3, title: ['提示', 'color:#fff;background: #D04040']
            }, function () {
                $.post("/Wos/Events/EventsInvalid/", { id: IncID }, function (res) {
                    if (res == "ok") {
                        parent.layer.close(index);
                        parent.layer.msg("设置无效成功。");
                        window.parent.location.reload();
                    } else {
                        layer.alert("设置事件无效失败。")
                    }
                });
            }, function () {

            });
        });
        function iframes(title, width, height, url) {
            layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                shade: 0.8,
                area: [width, height],
                content: url
            });
        }

        function iframe(title, width, height, url) {
            layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                shade: 0.8,
                area: [width, height],
                content: url,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    window.frames[0].SubmitData();
                }, cancel: function (index) {

                }
            });
        }
    </script>
</body>

</html>
