@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WNMS.Model.DataModels;
@model IEnumerable<DdayQuartZ01>

@{
    IEnumerable<dynamic> deviceids = ViewBag.deviceidList as IEnumerable<dynamic>;

    // 默认为一个元素+1，,type==0则新增一个元素+1
    var tdExtraLength = 1;
    @if (ViewBag.Type == 0) tdExtraLength++;
    var tdLength = deviceids.Count() + tdExtraLength;
    var tdWidth = (1.0 / tdLength-0.01).ToString("p0");

    var theadClassName = "thead";
    if (tdLength > 4) theadClassName += " width-auto";
}

<div class="@theadClassName">
    @{

        <div class="th" title="时间" style="width:@tdWidth">时间</div>
        if (ViewBag.Type == 0)
        {
            <div class="th" title="总用电量(kW·h)" style="width:@tdWidth">总用电量(kW·h)</div>
        }
        foreach (var item in deviceids)
        {
            <div class="th" title="@(item.deviceName+"(kW·h)")" style="width:@tdWidth">@(item.deviceName)<br>kW·h</div>
        }
    }
</div>

<div class="tbody">
    @{
        if (Model.Count() > 0)
        {
            var DeviceData_Head = Model.GroupBy(r => r.DeviceId).ToList();

            var data = Model.GroupBy(r => r.UpdateTime).OrderBy(r => r.Key).ToList();
            foreach (var item in data)
            {
                <div class="tr">
                    <div class="td" style="width:@tdWidth">@Convert.ToDateTime(item.Key).ToString("yyyy-MM-dd")</div>

                    @if (ViewBag.Type == 0)
                    {
                        <div class="td" style="width:@tdWidth">@Math.Round(item.Sum(r => r.EnergyCon), 2)</div>
                    }

                    @foreach (var st in deviceids)
                    {
                        var sdata = item.Where(r => r.DeviceId == st.DeviceID).FirstOrDefault();
                        if (sdata == null)
                        {
                            <div class="td" style="width:@tdWidth">--</div>
                        }
                        else
                        {
                            <div class="td" style="width:@tdWidth">@(sdata.EnergyCon.ToString() == "" ? "--" : Math.Round((double)sdata.EnergyCon, 2).ToString())</div>
                        }
                    }
                </div>
            }
        }
    }
</div>