@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WNMS.Model.CustomizedClass;
@model IEnumerable<Assignment>
<thead>
    <tr>
        <th data-checkbox="true"></th>
        <th data-field="PlanID" data-visible="true">工单编号</th>
        <th data-sortable="true" data-field="PlanName">计划名称</th>
        <th data-field="PlanType">类型</th>
        <th data-field="DMAName">分区名称</th>
        <th data-field="TravelName">行进方式</th>
        <th data-field="InspectCycleName">巡检周期</th>
        <th data-field="InspectorName" data-sortable="true">巡检员</th>
        <th data-field="CreaterName">创建人</th>
        <th data-field="BeginDate">开始日期</th>
        <th data-field="EndDate">结束日期</th>
        <th data-field="CreateTime" data-sortable="true">创建日期</th>
        <th data-field="State" data-sortable="true">状态</th>
        <th data-field="IsChargeback">是否退单</th>
        <th data-field="Remark">备注</th>
        @*<th>标记</th>*@
    </tr>
</thead>
<tbody>
    @{
        foreach (var item in Model)
        {
        <tr>
            <td data-checkbox="true"></td>
            <td data-visible="true">@item.PlanID</td>

            <td>@item.PlanName</td>
            <td>@(System.Enum.GetName(typeof(PlanType), item.PlanType))</td>
            <td>@item.DMAName</td>
            <td>@item.TravelName</td>
            <td>@item.InspectCycleName</td>
            <td>@item.InspectorName</td>
            <td>@item.CreaterName</td>
            <td>@item.BeginDate</td>
            <td>@item.EndDate</td>

            <td>@item.CreateTime</td>
            @{
                if (item.State)
                {
                    if (item.IsFinish == 2 && item.IsChargeback != 1)
                    {
                        <td><span class='label label-default'>已完成</span></td>
                    }
                    else if (item.IsFinish == 2 && item.IsChargeback == 1)
                    {
                        <td><span class='label label-default'>已作废</span></td>
                    }
                    else
                    {
                        if (item.IsFinish == 0)
                        {
                            <td><span class='label label-success'>已分派</span></td>
                        }
                        else
                        {
                            <td><span class='label label-danger'>待审核</span></td>
                        }

                    }

                }
                else
                {
                    <td style="color:teal"><span class='label label-warning'>未分派</span></td>
                }


            }
            @{
                if (@item.IsChargeback != 1)
                {
                    <td>否</td>
                }
                else
                {
                    <td>是</td>
                }
            }

            <td>@item.Remark</td>
            @*<td>
            <a href="#"><span onclick="DealFinish(@item.PlanID)" class='label label-success'>标记完成</span></a>
        </td>*@
        </tr>
        }
    }
</tbody>