
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/zlw.css">
    <link rel="stylesheet" href="~/css/sl.css">
    <link rel="stylesheet" href="~/css/hyl.css">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />



    <link href="~/css/ztreefont.css" rel="stylesheet" />
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link href="~/lib/ztree/diy/zTreeStyle01.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/ergongiconfont.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>



    <script src="~/lib/ztree/jquery.ztree.core-3.5.js"></script>
    <script src="~/lib/ztree/jquery.ztree.excheck-3.5.js"></script>
    <script src="~/lib/My97DatePicker/WdatePicker.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="//a.amap.com/jsapi_demos/static/china.js"></script>
    <link rel="stylesheet" href="../../css/gdmap.css">

    <!-- 高德地图 -->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=28068084e71b4dac1344e8d5c9451629&plugin=AMap.DistrictSearch,AMap.MarkerClusterer"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=28068084e71b4dac1344e8d5c9451629&plugin=AMap.Geocoder"></script>

    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <style>
        html, body {
            height: 100%
        }

        .amap-info-close{
            display:block;
        }
        .sl_chioce {
            height: 50px;
            border-bottom: 0
        }



        .sl_list {
            height: calc(100% - 40px)
        }

        .ztree .iconfont {
            padding-right: 5px;
        }

        .fa {
            font-family: 'FontAwesome' !important;
        }
        #NRys{
            position:relative;
            left:10px;
        }
        /*      .content-window-card {
            position: relative;
            width: 23rem;
            padding: 0.75rem 0 0 1.25rem;
            box-shadow: none;
            left: 0;
        }

            .content-window-card p {
                height: 2rem;
            }*/
        /**
         * 地图弹窗样式
        */
        .amap-info-content {
            box-shadow: 0 0 10px rgba(0,0,0,.6);
        }

        .map-info-card {
            width: 320px;
            background-color: rgba(255, 255, 255, .7);
        }

            .map-info-card .title {
                padding: 0 10px;
                font-size: 14px;
                line-height: 40px;
                color: #fff;
                background-color: #00adff;
            }

            .map-info-card .content {
                padding: 10px;
            }

            .map-info-card .item {
                position: relative;
                margin-top: 0;
                padding: 3px 0 3px 44px;
                font-size: 14px;
                line-height: 24px;
            }

                .map-info-card .item:first-child {
                    margin-top: 0;
                }

                .map-info-card .item .label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0;
                    font-size: 14px;
                    line-height: 30px;
                    color: #00adff;
                    font-weight: normal;
                }

            .map-info-card .name .iconfont {
                float: left;
                margin-right: 5px;
                font-size: 18px;
                color: #00adff;
            }
        .zlw_datamain_lfconsea .form-control {
            padding-left: 25px;
        }
    </style>
</head>
<body>
    <div class="sl_maing">
        <div class="sl_maingcon">
            <div class="sl_lf">
                <!-- 搜索框 -->
                <div class="zlw_datamain_lfconsea">
                    <form action="">
                        <i class="glyphicon glyphicon-search"></i>
                        <input id="searchtxt" class="form-control" placeholder="搜索" type="text" autocomplete="off" />
                    </form>
                </div>
                <div id="treeDemo" class="ztree" style="height:100%;overflow:auto">
                    <!-- tree渲染区域 -->
                </div>
            </div>
            <div class="sl_rg">
 
                <div class="sl_list" style="margin-top:4px">
                    <div class="zlw_manageconrgconsan" id="container" style="height:100%;position:relative">

                    </div>
                </div>
            </div>
        </div>

    </div>
     
    <script>
        var zTreeObj;

        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            }, callback: {
                onClick: zTreeOnClick
            }, view: {
                showTitle: false,
                showLine: true,
                nameIsHTML: true,
                showIcon: false
            }
        };
        var zNodes = @ViewBag.treenodes;
        var serialNumber = "";
        var moduleid = "";
        var map;
        var marker;
        var infoWindow;
        var pagesize = 499;//不能超过500
        var geocoder = new AMap.Geocoder({
            radius: 1000 //范围，默认：500
        });
        var markerList = [];


        $(function () {
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            zTreeObj.expandAll(true);     //初始化数列表展开
        })

        //树查询
        function LoadZtree() {
            zTreeObj.destroy();    //清空树

            if ($("#searchtxt").val() != "") {
                //查询树列表数据
                $.post("/Sws/Sws_UserPosition/SearchPersonTree", {
                    searchtxt: $("#searchtxt").val()
                }, function (data) {
                    var aa = JSON.parse(data);   //数据转json
                    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, aa);   //重新初始化树
                    zTreeObj.expandAll(true);     //初始化数列表展开

                });
            }
            else {

                zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);   //重新初始化树
                zTreeObj.expandAll(true);     //初始化数列表展开
            }

        }
        //左侧树查询回车事件
        $("#searchtxt").keydown(function (e) {
            if (e.keyCode == 13) {
                LoadZtree();
                return false;
            }
        });
        $(function () {
            // 点击按钮 左侧宽度为0
            $(".zlw-content-lfdj").click(function () {
                $(".zlw-content-lfdj").hide();
                $(".left-icon").css("display", "block");
                $(".zlw_controlconlf").css({ "width": "0", "padding": "0" });
                $(".zlw_controlconrg").css("width", "100%");
            });
            $(".left-icon").click(function () {
                $(".zlw-content-lfdj").fadeIn();
                $(".left-icon").css("display", "none");
                $(".zlw_controlconlf").css({ "width": "220px", "padding": "0px" });
                $(".zlw_controlconrg").css("width", "calc(100% - 220px)");
            })
            $(document).on('click', '.sxt_list li', function () {
                $(this).addClass('on').siblings('li').removeClass('on');
            });
            if ($("#dataList .on").length > 0) {

                stationid = $("#dataList .on").data("key");
            }
            $('.fixed-table-loading').hide();
            //zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            InitMap();
            LoadPosition();
        });
         //树查询
     function LoadZtree() {
         zTreeObj.destroy();    //清空树

         if ($("#stationname").val() != "") {
             //查询树列表数据
             $.post("/Sws/Sws_Consumption/SearchTree", {
                 stationName: $("#stationname").val()
             }, function (data) {
                 var aa= JSON.parse(data);   //数据转json
                     zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, aa);   //重新初始化树
                     zTreeObj.expandAll(true);     //初始化数列表展开

             });
         }
         else {

             zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);   //重新初始化树
         }

        }
        ////树点击事件
        //function zTreeOnClick(event, treeId, treeNode) {
        //    if (treeNode.isUser == true) {
        //        serialNumber = treeId;

        //        GetLocus();

        //    }
        //    else {
        //        layer.alert("请点击巡检人员");
        //    }
        //};
        //树点击事件
        function zTreeOnClick(event, treeId, treeNode) {
            moduleid = treeNode.serialNumber;;


            $.post("/Sws/Sws_UserPosition/GetUserPositionInfoById", { mid: moduleid }, function (data) {

                var res = data.info;

                var lnglat = [res.lng, res.lat];


                //坐标转换
                AMap.convertFrom(lnglat, "gps", function (status, result) {
                    if (result.info === 'ok') {
                        var resLnglat = result.locations[0];

                        //获取地址
                        var address;
                        geocoder.getAddress(resLnglat, function (status, result) {
                            if (status === 'complete' && result.regeocode) {
                                address = result.regeocode.formattedAddress;
                                map.clearInfoWindow();
                                map.setCenter(lnglat); //设置地图中心点
                                var time = res.updateTime;
                                openInfo(res.name, time, address, resLnglat);
                            } else {
                                address = "未获取到";
                                map.clearInfoWindow();
                                map.setCenter(["@ViewBag.lng", "@ViewBag.lat"]);
                                layer.alert("坐标不正确")
                            }


                        });

                    }
                });

                });

        };

        function GetGPSData(data) {
            var res = data;

            var lnglat = [res.lng, res.lat];

            //坐标转换
            AMap.convertFrom(lnglat, "gps", function (status, result) {
                if (result.info === 'ok') {
                    var resLnglat = result.locations[0];

                    marker = new AMap.Marker({
                        position: resLnglat,
                        offset: new AMap.Pixel(-13, -30),
                        title: res.name
                    });
                    marker.setMap(map);
                    marker.serialNumber = res.serialNumber;

                    marker.updateTime = res.updateTime;
                    marker.name = res.name;
                    marker.on('click', clickHandler);
                    var vv = [];
                    vv.id = res.serialNumber;
                    vv.marker_o = marker;
                    markerList.push(vv);


                }
            });
        }

        //地图初始化
        function InitMap() {
            map = new AMap.Map('container', {
                resizeEnable: true,

                zoom: @ViewBag.Zoom,
                //mapStyle: 'amap://styles/4f2af56fcd0a88c79ca4c2063fcab18a', //设置地图的显示样式
                mapStyle: 'amap://styles/d363428cd7ab3d540fc2e80d22c5ea80', //设置地图的显示样式
                center: ["@ViewBag.lng", "@ViewBag.lat"],
                layers: [//使用多个图层
                    //  new AMap.TileLayer.Satellite(),
                    //  new AMap.TileLayer.RoadNet()
                ],
                zooms: [6, 14],//设置地图级别范围
            });



        }
        function LoadPosition() {
            $.post("/Sws/Sws_UserPosition/LoadUserPositionInfo", function (data) {

                for (var i = 0; i < data.info.length; i++) {
                    GetGPSData(data.info[i]);
                    //var lnglat = [data.info[i].Lng, data.info[i].Lat];
                    //var resLnglat;
                    ////坐标转换
                    //AMap.convertFrom(lnglat, "gps", function (status, result) {

                    //    if (result.info === 'ok') {

                    //       resLnglat = result.locations[0];


                    //    }
                    //});


                    //marker = new AMap.Marker({
                    //    position: resLnglat,
                    //    offset: new AMap.Pixel(-13, -30),
                    //    title: data.info[i].NickName
                    //    //content: markericon3
                    //});
                    ////marker.setAnimation('AMAP_ANIMATION_BOUNCE');
                    //marker.id = data.info[i].UserID;
                    //moduleid = marker.id;
                    //marker.on('click', clickHandler);
                    //map.add(marker);

                }
                map.setFitView();
            })
        }
        //左侧树查询回车事件
        $("#stationName").keydown(function (e) {
            if (e.keyCode == 13) {

                return false;
            }
        });
        $("#searchText").keydown(function (e) {
            if (e.keyCode == 13) {

                return false;
            }
        })
        var clickHandler = function (e) {

            var lnglat = [e.lnglat.lng, e.lnglat.lat];
            //console.log(lnglat);
            //获取地址
            var address;
            geocoder.getAddress(lnglat, function (status, result) {
                if (status === 'complete' && result.regeocode) {
                    address = result.regeocode.formattedAddress;
                } else {
                    address = "未获取到";
                }
                //console.log(address);
                //map.setFitView();
                map.setCenter(lnglat); //设置地图中心点
                openInfo(e.target.name, e.target.updateTime, address, lnglat)




            });

            //GetGPSData();
        };
        //


        // 清除 marker
        function clearMarker() {

            if (marker) {
                marker.setMap(null);
                marker = null;
            }
        }
        //在指定位置打开信息窗体
        function openInfo(name, time, address, resLnglat) {
            var info = [];

            //info.push("<div class='input-card content-window-card'><div></div> ");
            var html = "";
            html = '';
            html += '<div class="map-info-card">';
            html += '<div class="title">模块信息</div>';
            html += '<div class="content">';
            html += '<div class="item name">';
            html += '<div class="label">使用人：</div>' + '<div id="NRys">' + name + '</div>';
            html += '</div>';
            html += '<div class="item">';
            html += '<div class="label">时间：</div>' + '<div id="NRys">' + time + '</div>';
            html += '</div>';
            html += '<div class="item">';
            html += '<div class="label">地址：</div>' + '<div id="NRys">' + address + '</div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            info.push(html);

            infoWindow = new AMap.InfoWindow({
                content: info.join(""),  //使用默认信息窗体框样式，显示信息内容
                offset: new AMap.Pixel(0, -30)
            });

            infoWindow.open(map, resLnglat);
            //构建信息窗体中显示的内容
            //var info = [];
            //info.push("<div class='input-card content-window-card'><div><h3>人员信息</h3></div> ");
            //info.push("<div style=\"padding:7px 0px 0px 0px;\"><h4> 姓名：" + name +"</h4>");
            //info.push("<h4> 更新时间：" + time +"</h4>");
            //info.push("<h4> 地址：" + address +"</h4></div></div>");

            //infoWindow = new AMap.InfoWindow({
            //    content: info.join("")  //使用默认信息窗体框样式，显示信息内容
            //});
            //infoWindow.open(map, resLnglat);
           // infoWindow.open(map, map.getCenter());
        }
    </script>
</body>
</html>
